<div class="mt-3">
    <p><strong> Tu souhaites ajouter un potin ? </strong>
    <%= link_to "Cliques ICI ! ", new_gossip_path, class: "btn btn-primary" %>
    </p>
</div>

    <br>
    <br>
    <h1><u> Banque des potins </u></h1>

<% @gossips.each do |gossip| %>
      
    <h6><%= gossip.title %></h6>
    <p><%= gossip.content %></p>
    <p>
    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Description du potin</a>
    
    </p>
      
<% end %>
    



    
    